.hover-underline {
    :hover {
        text-decoration: underline;
    }
}

.hover-darken {
    :hover {
        filter: brightness(0.7);
    }
}

.hover-brighten {
    :hover {
        filter: brightness(1.3);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.rotate {
    animation: spin 2s linear infinite;
}

footer {
    @media screen and (min-width: 768px) {
        padding-left: 200px;
    }
}
